*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
body{
    background: rgb(83,167,241);
    background: linear-gradient(165deg, rgb(160, 201, 236) 40%, rgb(193, 190, 235) 53%, rgb(128, 169, 245) 89%);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
main{
    display:flex;
    flex-direction: row;
}

.logo{
    margin: 20px 0px 0 20px;
}
h1{
    text-align:center;
    font-size:50px;
    margin-top: -50px;
}
.encriptador{
    display:flex;
    flex-direction: column;
    width:60%;
    margin: 10px 10px 10px 50px;
    
}
.areaTexto{
    margin: 10px;
    padding:10px;
    border: 3px solid #ffffff;
    font-size:20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.encriptador p{
    color: #111011;
    font-weight: bold;
}
.boton{
    display: flex;
    margin: 20px;
}
.encriptar:hover{
    background-color:rgb(12, 11, 11);
    border: 3px solid rgb(15, 15, 15);
}
.encriptar{
    background-color:rgb(7, 7, 160);
    color:#ffffff;
    width: 50%;
    margin: 10px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid rgb(7, 7, 160);
    border-radius: 10px;  
}
.desencriptar{
    background-color:rgb(86, 86, 95);
    color:#ffffff;
    width: 50%;
    margin:10px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid rgb(86, 86, 95);
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.desencriptar:hover{
    background-color:rgb(12, 11, 11);
    border: 3px solid rgb(15, 15, 15);
}

.default{
    border: 2px solid #ffffff;
    width:350px;
}
.default img{
    width:250px;
    margin: 20px;
    padding: 20px;
}
.default p{
    width:300px;
    font-size: 20px;
    margin: 20px;
    font-weight:bold;
    text-align: center;
}
.visualizador{
    display:none;
    flex-direction: column;
    width:40%;
    height:100%;
    margin: 10px 10px 10px 10px;
    align-content: center;
    justify-content: center;
    align-items: center;    
}
.lectura{
    margin: 10px;
    padding:10px;
    border: 3px solid #ffffff;
    font-size:20px;
    border-radius: 10px;
}
.copiar{
    background-color:rgb(7, 7, 160);
    color:#ffffff;
    width: 60%;
    margin:10px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid rgb(7, 7, 160);
    border-radius: 10px;
   
}
.copiar:hover{
    background-color:rgb(12, 11, 11);
    border: 3px solid rgb(15, 15, 15);
}
footer{
    text-align: center;
    margin-top: 40px;
    font-size:13px;
    font-weight:bold;
}
